<!DOCTYPE html>
<html>
  <head>
    <title>Prac2q</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <%= yield %> -->
    <h1>ララランド</h1>
  </body>
</html>
